{% extends '@layout/default.html.twig' %}

{% block pageTitle %}{{ parent() }} Introduce yourself{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div id="root"></div>
        </div>
    </main>
    {% block scripts %}
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script type="text/babel" src="/js/app.js"></script>
    {% endblock %}
{% endblock %}
