{% extends '@layout/default.html.twig' %}

{% block pageTitle %}{{ parent() }} Introduce yourself{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <form method="get">
                <p>
                    Please introduce yourself.
                </p>
                {% if problem is defined %}
                    <p style="border: 1px solid darkred; color: darkred; padding: 1rem;">
                        {{ problem }}
                    </p>
                {% endif %}
                <p>
                    <label for="name">Name: <input type="text" name="name"></label>
                </p>
                <p>
                    <label for="language">Language: <select name="language">
                            <option disabled selected>Please choose a language</option>
                            <option value="english">English</option>
                            <option value="deutsch">Deutsch</option>
                            <option value="Backwards">Backwards</option>
                        </select></label>
                </p>
                <p>
                    <input type="submit">
                </p>
            </form>
        </div>
    </main>
{% endblock %}
