{% extends '@layout/default.html.twig' %}

{% block pageTitle %}{{ parent() }} Introduce yourself{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <p>
                {{ greeting }}
            </p>
        </div>
    </main>
{% endblock %}
