<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block pageTitle %}Bikmo : {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
{% include '@layout/header.html.twig' %}
{% block content %}{% endblock %}
{% include '@layout/footer.html.twig' %}
{% block scripts %}{% endblock %}
</body>
</html>
