<header class="py-3">
    <div class="container">
        <nav class="d-flex align-items-center">
            <a href="/"><img class="logo" src="/img/logo.svg" alt="Bikmo logo"></a>
            <ul class="list-unstyled mb-0 ml-5">
                <li><a class="text-white" href="/single-page">SPA</a></li>
            </ul>
        </nav>
    </div>
</header>